<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <style>
        * {margin: 0; padding: 0}
        body {background-color: #fff;}
        h1   {color: black; margin-block: 50px; margin-left: 25px;}
        ul {gap: 0; width: 300px; margin-left: 75px}
        li {list-style: none;}
        form {width: 300px; display: flex; flex-direction: column; margin-top: 50px; margin-left: 75px; background-color: white, border-radius: 10px}
    </style>
</head>
<body>
    <h1>Liste des employées</h1>
    <ul>
        <li th:each="employee: ${employees}" >
            <a th:href="@{/employee/{id}(id=${employee.id})}" th:text="${employee.id}"></a>
            <span th:text="${employee.name}" th:attr="style='background:' + ${employee.fonction.codeCouleur}"></span>
        </li>
    </ul>
    <h1>Formulaire de l'ajout d'un employee</h1>
    <form method="post" th:action="@{/employee/addemployee}" th:object="${employee}">
        <input type=text th:field="*{name}" placeholder="Nom"/>
        <input type=text th:field="*{address}" placeholder="Adresse"/>
        <input type=text th:field="*{email}" placeholder="Courriel"/>
        <input type=text th:field="*{phone}" placeholder="Tél."/>
        <select th:field="*{fonction}">
            <option th:each="fonction : ${T(fr.devavance.employees.enumeration.Fonction).values()}"
                    th:value="${fonction}"
                    th:text="${fonction}">
            </option>
        </select>

        <button type="submit">Envoyer</button>
    </form>
</body>
</html>